body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #356597;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
} 

h1, h2 {
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
#article-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-out;
    list-style: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h3 {
    color: #333;
    background-color: #3498db;
    padding: 10px;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    color: #555;
    padding: 10px;
}

.full-text {
    padding: 10px;
}

/* Read More link styles */
.read-more {
    display: block;
    text-align: center;
    background-color: #3498db;
    color: #ecf0f1;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #2980b9;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    #article-container {
        border-radius: 0;
    }
}
