<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/myarticles.css">
    <title>myArticles</title>
  </head>
  <body> 
    <h1>Welcome</h1>
    <h3>Add new article:</h3>
    <form action="add" method="post"> 
      <label for="title">Title:</label>
      <input type="text" name="title"><br>
      <label for="text">Content:</label>
      <textarea name="text" cols="30" rows="10"> </textarea>
      <input type="submit" value="Add">
    </form>
    <h3>List of articles:    </h3>
    <ul>
    </ul>
  </body>
</html>