doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form(action="/register", method="post")
            label(for="name") Name 
            input(type="text" , name="name")
            label(for="email") Email 
            input(type="email" , name="email")
            label(for="password") Password 
            input(type="password" , name="password")
            //- label(for="cpassword") Password Confermation
            //- input(type="password" , name="cpassword")
            button(type="submit") Save
            br
            a(href="./login") logine