doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Add new POst:
        form(action=`add`, method="post") 
            label(for="title") Title :
            input(type="text" name="title" )
            label(for="slug") slug :
            input(type="text" name="slug" )
            br
            label(for="text") Description :
            input(type="text" name="text"  )
            button(type="submit") Add