doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../../styles/style.css")
    title Confirm Deletion
body
    h1 Confirm Deletion
    p Are you sure you want to delete the article titled "#{myArticles.title}"?
    form(action=`/article/delete/${myArticles.id}`, method="post")
        button(type="submit") Confirm
        a(href="/article/myArticles") Cancel
